/*-- container --*/

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

/*-- navigation --*/

@media (min-width: 992px) {
  #navbarMenu {
    display: none !important;
  }
  .navbar {
    height: 120px;
  }
  .navbar a:hover {
    color: purple;
  }
}
@media (max-width: 992px) {
  .lg-navbar {
    background-image: url(./images/backcountry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .lg-navbar h2, .lg-navbar a {
    display: flex;
    justify-content: center;
  }
}
.navbar a {
  display: flex;
  color: black;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
}
.navbar a:hover {
  text-decoration-color: purple;
}

/*-- main content --*/
@media (max-width: 500px) {
    .footer-container {
      margin-top: 100px;
      padding-top: 150px;
    }
}
@media (min-width: 501px) {
  .footer-container {
    margin-top: 100px;
    padding-top: 100px;
  }
}
@media (min-width: 992px) {
  .colorful img, .intro img {
    align-items: center;
  }
  .footer-container {
    margin-top: 0px;
    padding-top: 0px;
  }
}
main h1 {
  text-align: center;
  font-weight: bold;
  font-family: serif;
  padding-top: 60px;
  padding-bottom: 52px;
  font-style: italic;

}
main h2, footer h2 {
  text-align: center;
  font-family: serif;
  padding-top: 30px;
  text-decoration: underline;
}
.idea-text {
  text-align: center;
}
.first-article-text {
  text-align: center;
}
.second-article-text {
  text-align: center;
}
.about-text {
  text-align: center;
}
div .intro {
  height: 300px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.idea-image img {
  border-radius: 10%;
  height: 200px;
  width: auto;
}
.first-article-image img {
  border-radius: 25px;
  height: 300px;
  width: auto;
}
.second-article-image img {
  border-radius: 25px;
  height: 300px;
  width: auto;
}
.about-pic img {
  border-radius: 100%;
  width: 300px;
  height: auto;
  align-items: center;
}
.about-text p, .colorful p {
  line-height: 3;
}
.hmu {
  text-align: center;
  font-weight: 200;
  margin-bottom: 4rem;
}

/*-- footer --*/

.footerNav .col-2 {
  justify-content: center;
  display: flex;
}
.footerNav img {
  width: 32px;
  height: 32px;
}
#coolerful {
  height: 30px;
}
